<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <!-- <link rel="icon" type="image/svg+xml" href="favicon.svg" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= metaTitle %></title>
    <meta name=”description” content=”<%= metaDescription %>” />
    <meta property="og:url" content="<%= url %>">
    <meta property="og:title" content="<%= metaTitle %>">
    <meta property="og:description" content="<%= metaDescription %>">
    <meta property="og:image" content="<%= url %><%= ogImagePath %>">
    <meta property="og:type" content="<%= ogType %>">
    <meta name="twitter:card" content="<%= ogTwitterCard %>">
    <link rel="stylesheet" href="./src/scss/style.scss">
  </head>
  <body>
    <div class="bg">
      <div class="bgCircular">
        <div class="circle"></div>
        <div class="trajectory"></div>
      </div>
    </div>
    <header>
      <h1>Out of Orbit <span>-10th Aniversary Edition-</span></h1>
    </header>
    <section class="section introduction" id="introduction">
      <div class="section__inner">
        <h2>Introduction</h2>
      </div>
    </section>
    <section class="section tracklist" id="tracklist">
      <div class="section__inner">
        <h2>Tracklist</h2>
      </div>
    </section>
    <section class="section editions" id="editions">
      <div class="section__inner">
        <h2>Editions</h2>
      </div>
    </section>
    <section class="section noraStore" id="noraStore">
      <div class="section__inner">
        <h2>nora store</h2>
      </div>
    </section>
    <section class="section credits" id="credits">
      <div class="section__inner">
        <h2>Credit</h2>
      </div>
    </section>
    <section class="section sns" id="sns">
      <div class="section__inner">
        <ul><li></li></ul>
      </div>
    </section>
    <footer>
      フッター
    </footer>

    <script type="module" src="./src/ts/main.ts"></script>
  </body>
</html>
