// ---------------------------------------------------------------
// base settings
// ---------------------------------------------------------------
$hiraginoFallback: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Hiragino Sans";
$fontFamily: $hiraginoFallback, meiryo, arial, sans-serif;

body {
  font-family: $fontFamily;
  word-break: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}