@import "node_modules/destyle.css/destyle";
@import "./mediaqueries";
@import "./break";
@import "./base";
// @import "./easing";

// ---------------------------------------------------------------
// common
// ---------------------------------------------------------------
$color_primary: #18141F;
$color_secondary: #AA8A65;
$color_text: #fff;

body {
  background-color: $color_primary;
  color: $color_text;
}
header {
  @include S-M() {
    background-color: red;
  }
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.bgCircular {
  width: 100%;
  height: 100%;
  transform: rotate(-20deg);

  .circle {
    width: 20px;
    height: 20px;
    background-color: $color_secondary;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
  }

  .trajectory {
    border: 1px dashed $color_secondary;
    position: absolute;
    top: 50%;
    left: 50%;
  }
}

header, footer, section {
  height: 1000px;
}

.section {

  &.active {
    background-color: $color_secondary;
  }
}
